[submodule "Assets/TowerOfMemoriesCode"]
	path = Assets/TowerOfMemoriesCode
	url = ../TowerOfMemoriesCode.git
[submodule "Assets/TowerOfMemoriesMaps"]
	path = Assets/TowerOfMemoriesMaps
	url = ssh://git@castleopuzzles.ga:9022/mmd/TowerOfMemoriesMaps.git
