[submodule "Assets/TowerOfMemoriesCode"]
	path = Assets/TowerOfMemoriesCode
	url = ../TowerOfMemoriesCode.git
[submodule "Assets/TowerOfMemoriesMaps"]
	path = Assets/TowerOfMemoriesMaps
	url = ../TowerOfMemoriesMaps.git
